@import url("https://fonts.googleapis.com/css?family=Lato:400,700");


#content {
  position: relative; /* Asegura que los componentes card-server se posicionen relativos a este contenedor */
  z-index: 1; /* Coloca los componentes card-server encima del fondo */
  display: flex;
  flex-wrap: wrap; /* Permite que los formularios se ajusten en múltiples líneas si es necesario */
  justify-content: center; /* Centra los formularios horizontalmente */
  align-items: center; /* Centra los formularios verticalmente */
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos la altura de la ventana */
}




