 <div class="main_container">
            <div class="card_container" id="carta_1">
                <div class="card">
                    <!-- <img src="../../../assets/images/1.jpg" alt=""  (click)="marcaCasilla(1)">"> -->
                    <img src="../../../assets/images/1.jpg" alt=""  onclick="marcaCasilla(1)">
                    <img src="../../../assets/images/10.jpg" alt="" onclick="marcaCasilla(2)">
                    <img src="../../../assets/images/14.jpg" alt="" onclick="marcaCasilla(3)">
                    <img src="../../../assets/images/17.jpg" alt="" onclick="marcaCasilla(4)">
                    <img src="../../../assets/images/33.jpg" alt="" onclick="marcaCasilla(5)">
                    <img src="../../../assets/images/7.jpg" alt="" onclick="marcaCasilla(6)">
                    <img src="../../../assets/images/8.jpg" alt="" onclick="marcaCasilla(7)">
                    <img src="../../../assets/images/22.jpg" alt="" onclick="marcaCasilla(8)">
                    <img src="../../../assets/images/27.jpg" alt="" onclick="marcaCasilla(9)">
                    <img src="../../../assets/images/16.jpg" alt="" onclick="marcaCasilla(10)">
                    <img src="../../../assets/images/26.jpg" alt="" onclick="marcaCasilla(11)">
                    <img src="../../../assets/images/3.jpg" alt="" onclick="marcaCasilla(12)">
                    <img src="../../../assets/images/13.jpg" alt="" onclick="marcaCasilla(13)">
                    <img src="../../../assets/images/19.jpg" alt="" onclick="marcaCasilla(14)">
                    <img src="../../../assets/images/2.jpg" alt="" onclick="marcaCasilla(15)">
                    <img src="../../../assets/images/18.jpg" alt="" onclick="marcaCasilla(16)">
                </div>
            </div>