
@if (gameStatus == "IN_PROGRESS") {
  <div class="main_container">
    <div class="card_container" id="carta_1">
      <div class="card">
        
        @for (item of deckPlayer; track $index) {
          @if (item.state) {
            <img [src]="'../../../assets/images/' + item.image + '.jpg'" />
          }@else{
            <img [src]="'../../../assets/images/frijol.jpg'" />
          }
      }
    </div>
    </div>

    <div class="deck-container">
      <ul class="card-block">
        <li class="deck-card">
          <h3>Carta actual: </h3>
          <div class="card-content">
            <h3>{{ gamesData.deck.cards[gamesData.deck.cards.length-1].phrase }}</h3>
            <img [src]="'assets/images/' + gamesData.deck.cards[gamesData.deck.cards.length-1].image + '.jpg'" alt="Imagen" class="deck-image"/>
          </div>
        </li>
      </ul>
    </div>

  </div>
}

@if (gameStatus == "WAITING_FOR_PLAYERS") {
  <app-waiting></app-waiting>
}


@if(gameStatus == "FINISHED"){
  <app-winner-component></app-winner-component>
}