
@if (gameStatus == "IN_PROGRESS") {
  <div class="main_container">
    <div class="card_container" id="carta_1">
      <div class="card">
        
        @for (item of deckPlayer; track $index) {
          @if (item.state) {
            <img [src]="'../../../assets/images/' + item.image + '.jpg'" />
          }@else{
            <img [src]="'../../../assets/images/frijol.jpg'" />
          }
      }
    </div>
    </div>

    <div class="deck_container">
      <ul class="card-block">
        <li
          *ngFor="let card of gamesData.deck.cards; let i = index"
        >
          <h1>{{ card.phrase }}</h1>
          <img [src]="'assets/images/' + card.image + '.jpg'" alt="Imagen" />
        </li>
      </ul>
    </div>

  </div>
}

@if (gameStatus == "WAITING_FOR_PLAYERS") {
  <app-waiting></app-waiting>
}