.card {
  width: 400px;
  background-color: rgb(175, 144, 86);
  font-size: 22px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

* {
  text-align: center;
}

.card-header {
  font-size: 40px !important;
}

/* app.component.css (o styles.css si es global) */
.alert-danger .error-message {
  font-size: 0.9rem;
  /* Tamaño de fuente más pequeño para los mensajes de error */
}